.handleMenuButton {
  color: blue;
  // font-weight: bold;
  text-decoration: underline;
}

.menuWrapperOpen {
  display: block;
  background-color: cadetblue;
}

.menuWrapperClose {
  display: none;
}
