.gpInfo {
  overflow-wrap: break-word;

  .gpName {
    padding-top: 5px;
    font-size: 30px;
    font-weight: bold;
    display: inline;
  }
  .gpId {
    display: inline;
  }
}

.perPageSelect {
  width: 100px;
  margin-left: auto;
  margin-right: 10%;
}

.handleMenuButton {
  color: sandybrown;
  font-weight: bold;
  text-decoration: underline;
}
.menuWrapperOpen {
  display: block;
}
.menuWrapperClose {
  display: none;
}
