.pageWrapper {
  min-height: 100vh;
  min-width: 100%;
  padding-top: 70px;

  background-color: lightblue;
  padding-left: 10px;
  padding-right: 10px;
}

.page {
  // height: 100%;
}

.center {
  text-align: center;
}
