.pageWrapper {
  min-height: 100vh;
  min-width: 100%;
  padding: 70px 10px 70px 10px;

  background-color: lightblue;
}

.page {
  // height: 100%;
}

.center {
  text-align: center;
}

.breadcrumbs {
  // margin: 0 auto;
}
